.first{
    background-color:rgb(208, 163, 163);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
}
.second{
    color:rgb(0, 0, 0);
    background-color:rgb(173, 173, 107);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    text-decoration: underline;
    color : blueviolet;
}
h2{
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    text-decoration: underline;
    color: brown;
}
h3{
    font-size: medium;
    font-family: cursive;
    text-align: justify;
    text-decoration: underline;
    color: teal;
}
.name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    background-color: rgba(153, 174, 237, 0.581);
    text-align:justify;
    border : thin solid rgb(119, 118, 118);
    /*border-style: solid;
    border-left-style: double;
    border-width: thin;*/
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    padding: 25px;
}
.word{
    color:crimson;
}
h{
    text-align: center;
    text-decoration:double;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkred;
    font-size: 50px;
    border: 3px solid teal;
    padding : 10px;
    margin: 700px;
}
.name1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(0, 0, 0);
    background-color: rgba(153, 174, 237, 0.581);
    text-align:justify;
    border : thin rgb(119, 118, 118);
    border-top-style: dotted;
    border-top-width: 5px;
    /*border-style: solid;
    border-left-style: double;
    border-width: thin;*/
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    padding: 25px;
}
a{
    cursor: pointer;
}
a:link {
  color:purple;
}
a:visited {
  color: crimson;
}
a:focus {
  color:midnightblue;
}
a:hover {
  background-color:blueviolet;
  font-size: 18px;
}
a:active {
  color:greenyellow;
}