*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:white;
  color:#222;
  line-height:1.6;
}

.navbar{
  background:#DC143C;
  color:white;
  padding:18px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:28px;
  font-weight:700;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-size:16px;
  font-weight:500;
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:70px 60px;
  background:#fff5f5;
}

.hero-text h1{
  font-size:48px;
  font-weight:700;
  color:#DC143C;
}

.hero-text p{
  margin-top:20px;
  font-size:18px;
}

.hero-image img{
  width:480px;
  border-radius:10px;
}

.btn{
  background:#DC143C;
  color:white;
  padding:12px 28px;
  border-radius:6px;
  border:none;
  font-weight:600;
  text-decoration:none;
  margin-top:20px;
  display:inline-block;
}

.courses{
  text-align:center;
  padding:70px 40px;
}

.course-grid{
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:30px;
}

.course-card{
  background:white;
  padding:20px;
  border-radius:12px;
  width:300px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.course-card img{
  width:100%;
  border-radius:10px;
}

.gender-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.course-card h3{
  margin:15px 0 10px 0;
  color:#DC143C;
  font-weight:600;
}

.form-container{
  width:500px;
  margin:50px;
  background:#fff5f5;
  padding:30px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

form label{
  font-weight:600;
}

form input,
form select{
  width:100%;
  padding:12px;
  margin:10px 0 20px;
  border:1px solid #ccc;
  border-radius:6px;
}

.footer{
  background:#DC143C;
  color:white;
  text-align:center;
  padding:15px;
  margin-top:50px;
}
